[submodule "unitree_rl_gym"]
	path = unitree_rl_gym
	url = https://github.com/Wataru-Oshima-Tokyo/unitree_rl_gym.git
[submodule "rsl_rl"]
	path = rsl_rl
	url = https://github.com/leggedrobotics/rsl_rl
[submodule "unitree_sdk2_python"]
	path = unitree_sdk2_python
	url = https://github.com/unitreerobotics/unitree_sdk2_python
